language: ruby
rvm:
  - 2.3.0
deploy:
  provider: heroku
  api_key: a3b38fab-4ede-4462-8d90-d469d22d804e
  app: sheltered-dawn-87245
script:
  - bundle exec rake rdoc
  - git add -A
  - git commit -m "Add documentation"